<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href="/stylesheets/details.css" rel="stylesheet">
    <title>记账本</title>
</head>

<body>
    <div class="container">
        <div class="title">记账本</div>
        <a class="add" href="/">新增</a>
        <hr>
        <ul>
            <% details.forEach(item=> { %>
                <li>
                    <div class="<%= item.type === -1 ? 'pay-bg' : 'income-bg' %>">
                        <div>
                            <%= dayjs(item.date).format('YYYY-MM-DD') %>
                        </div>
                        <a href="/deleteOne/<%= item.id %>">删除</a>
                    </div>
                    <div>
                        <div>
                            <%= item.message %>
                        </div>
                        <div class="<%= item.type === -1 ? 'pay-text' : 'income-text' %>">
                            <%= item.type===-1 ? '支出' : '收入' %>
                        </div>
                        <div>
                            <%= item.amount %>
                        </div>
                    </div>
                </li>
                <% }) %>
        </ul>
    </div>
</body>

</html>