<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/easyui/easyui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/easyui/icon.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <title>记账本</title>
</head>

<body>
    <div class="container">
        <div class="title">记账本</div>
        <div class="title-btns">
            <a class="add" href="/api/add">新增</a>
            <form id="registration" name="registration" method="post" action="/api/logout">
                <button class="logout">退出登录</button>
            </form>
        </div>
        <hr>
        <ul>
            <% details.forEach(item=> { %>
                <li>
                    <div class="<%= item.type === -1 ? 'pay-bg' : 'income-bg' %>">
                        <div>
                            <%= dayjs(item.date).format('YYYY-MM-DD') %>
                        </div>
                        <a href="/api/deleteOne/<%= item.id %>">删除</a>
                    </div>
                    <div>
                        <div>
                            <%= item.message %>
                        </div>
                        <div class="<%= item.type === -1 ? 'pay-text' : 'income-text' %>">
                            <%= item.type===-1 ? '支出' : '收入' %>
                        </div>
                        <div>
                            <%= item.amount %>
                        </div>
                    </div>
                </li>
                <% }) %>
        </ul>
    </div>
</body>

</html>